html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    overflow: hidden; /* Evita que haya barras de desplazamiento si el contenido es más grande que la ventana */
}

#game-container {
    width: 100%;
    height: 80%; /* Ajusta según sea necesario, dejando espacio para el contenedor del chat */
    position: relative;
}

#chat-container {
    width: 100%;
    height: 20%; /* Ajusta según sea necesario */
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
}